# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.NarutoRun.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Development\Projects\Unity\NarutoRun\.idea\.idea.NarutoRun\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
